// *{margin: 0; padding: 0;}
// li{
//     list-style: none;
// }
// a{
//     text-decoration: none;
//     color: black;
// }

.logo img{
    width: 770px;
}
#hd{
    top: 0;
    left: 0;
    right: 0;
    height: 102px;
    transition: 0.5s;
    z-index: 10000;
    background-color: white;
}
#hd:after{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    bottom: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
}
#hd.up{ transform: translateY(-100%);}
        .wrap{
            height: 5000px;
        }

#hd{
    .logo{
        .smallicon{
            width: 65px;
        }
    }
}
.menu{
    flex-grow: unset;
    font-size: 18px;
}
.menu{
    ul{
        li{
            margin: 0 10px;
        }
    }
}
.menu{
    ul.ml-auto{
        li{
            a{
                color: black;
            }
        }
    }
}
.dd{
    text-align: center;
    left: -31px;
}
#hd, 
body{
    font-family: 'IBM Plex Sans KR', sans-serif !important;
}

#ft{
    background-color: #cdf37f;
}
#ft{
    h1{
        img{
            width: 80px;
        }
    }
}
#ft{
    ul{
        li{
            margin: 10px 10px;
            font-size: 12px;
        }
    }
}
#ft{
    .icon{
        a{
            img{
                width: 30px;
                margin: 10px 10px;
            }
        }
    }
}
#ft{
    .icon{
        a{
            img.call{
                width: 13px;
            }
        }
    }
}
#ft{
    .copy{
        p{
            font-size: 4px;
            padding-bottom: 10px;
        }
    }
}
#mainport{
    padding-top: 102px;
}
#mainport,
#cardport{
    padding-bottom: 18vw;
}
///////////////////////////////////스와이퍼 백그라운드
// #mainport{
//     .swiper{
//         .swiper-slide{
//             background: no-repeat;
//             background-position: center;
//             height: 0;
//             padding-bottom: 50%;
//         }
//         .port1{
//             background-color: #c2c5b0;
//         }
//         .port2{
//             background-color: #8bffc2;
//         }
//         .port3{
//             background-color: #9fc8ea;
//         }
//     }
// }

#mainport{
    .swiper-slide{
        img{
            width: 100%;
        }
    }
    .link{
        position: absolute;
        width: 6%;
        height: 13%;
        top: 100%;
        left: 100%;
        background-color:#cdf37f;
        img{
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .report{
        position: absolute;
        width: 6%;
        height: 6%;
        top: 115%;
        left: 100%;
        border:1px solid #cdf37f;
        a{
            font-size: 0.8rem;
            text-align: center;
        }
    }
        
}
#mainport{
    .maintext{
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        z-index: 100;
        color: #cdf37f;
    }
}
#mainport{
    .maintext{
        p{
            font-size: 2rem;
        }
    }
}
#mainport{
    .maintext{
        span{
            font-size: 4rem;
            font-weight:700
        }
    }
}

#mainport{
    .infoimg{
        .ogimg{
            width: 300px;
        }
    }
}
#mainport{
    .maintext{
        p.blackline{
           font-size: 1rem;
        }
    }
}
#mainport{
    .maintext{
        p{
            span.num{
                font-size: 1rem;
            }
        }
    }
}
#mainport{
    .maintext{
        p{
            span.num:after{
                content: "";
                display: inline-block;
                width: 230px;
                height: 1px;
                background: #000;
                margin: 0 25px 0 25px;
                vertical-align: middle;
            }
        }
    }
}
span.num2:after{
    content: "";
    display: inline-block;
    width: 230px;
    height: 1px;
    background: #000;
    margin: 0 25px 0 25px;
    vertical-align: middle;
}

#cardport{
    .card{
        .card-body{
            .card-title{
                .logoimg{
                    img{
                        width: 5vw;
                    }
                }
            }
            .webbtn{
                a.btn{
                    width: 30%;
                    background-color: unset;
                    display: inline-block;
                    line-height: 2.5;
                    text-align: center;
                    border: 1px solid black;
                    padding: 0.375rem 0.75rem;
                    font-size: 1.2rem;
                    border-radius: unset;
                    display: inline-block;
                    text-align: start;
                    color: #000;
                    .blackbtn{
                        background-color: black;
                        top: 0;
                        right: 0;
                        width: 20%;
                        height: 100%;
                        border: none;
                    }
                }
            }
        }
    }
}
#cardport{
    .card{
        .card-body{
            .card-title{
                p{
                    font-size: 2.5rem;
                }
            }
        }
    }
}
#cardport{
    .card{
        .card-body{
            .card-subtitle{
                font-size: 2.1rem;
            }
        }
    }
}
#cardport{
    .card{
        .card-body{
            .card-text{
                p{
                    font-size: 2rem;
                }
            }
        }
    }
}
#cardport{
    .card{
        .card-body{
            .card-text{
                span{
                    font-size: 2.2rem;
                }
            }
        }
    }
}
.card{
    border: unset;
    padding-bottom: 5vw;
}
#aboutme{
    .card{
        .card-body{
            .card-title{
                img{
                    width: 5vw;
                }
            }
        }
    }
}
#aboutme{
    .card{
        .card-body{
            .card-title{
                span{
                    font-size: 3rem;
                }
            }
        }
    }
}
#aboutme{
    .abouttext{
        .info{
            top: 10%;
            left: 7%;
             text-align: center;
            h1{
                font-size: 4rem;
                padding-bottom: 5%;
            }
            p{
                font-size: 2rem;
                padding-bottom: 3%;
            }
        } 
    }
}
#aboutme{
        .abouttext{
            .licences{
                top: 25%;
                right: 5%;
                text-align: center;
            }
            h1{
                font-size: 4rem;
                padding-bottom: 5%;
            }
            p{
                font-size: 2rem;
                padding-bottom: 3%;
            }
    }
}
#aboutme{
    .card{
        .card-body{
            .card-subtitle{
                p{
                    font-size: 2rem;
                }
            }
        }
    }
} 
#aboutme{
    .card{
        .card-body{
            .card-text{
                p{
                    font-size: 2rem;
                }
            }
        }
    }
} 
#aboutme{
    .abouttext{
        .link2{
            position: absolute;
            width: 6%;
            height: 13%;
            top: 100%;
            right: 100%;
            background-color:#cdf37f;
            img{
                width: 70%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.progress{
    height: 2.5rem;
    background-color: unset;
    border: 1px solid #cdf37f;
}
.progress-bar{
    background-color: #cdf37f;
    flex-direction: unset;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 1.8rem;
    p{
        font-size: 1.8rem;
    }
}
#mainport{
    .line-box{
        span{
            position: fixed;
            background: rgba(0,0,0,0.1);
            z-index: 101;
        }
    }
}
