
.c-black{
    color: black;
}
.blackline{
    font-size: 1vw;
    color: black;
}
.blackline2{
	font-size: 1vw;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.pl-mj{ padding-left: 5%;}
.pr-mj{ padding-right: 5%;}

.border{border: 1px solid black;}
.border-b{border-bottom: 1px solid rgba(0,0,0,0.1);}
.border-t{border-top: 1px solid rgba(0,0,0,0.1);}
.border-l{
	left: 5%;
	width: 1px;
    height: 100%;
    top: 0;
}
.border-r{
	right:5%;
	width: 1px;
    height: 100%;
    top: 0;
}


@media(min-width: 768px) {
	/* 최소768px까지 나오지마(767부터 나와라) */
	.mb-ver1{
		display:none !important;
	}
}

@media all and (max-width: 767px) {
	html { font-size: 8px; } 
  }

@media(max-width: 767px) {
	.pc-ver1,
	#hd:after{
		display:none !important;
	}
	.np{
		padding: unset;
	}
}



